mobile-notifications-eapp/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- #%L MuleSoft Training - Anypoint Platform Development: Level 2 %% Copyright (C) 2019 - 2021 MuleSoft, Inc. All rights reserved. http://www.mulesoft.com 
	%% The software in this package is published under the terms of the Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International 
	Public License, a copy of which has been included with this distribution in the LICENSE.txt file. #L% -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="  http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd    http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd  http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="retrieve-cancellation-event">
		<anypoint-mq:subscriber config-ref="amqConfig" destination="cancelled-flights-mobile-queue-dev"
			acknowledgementMode="MANUAL">
			<reconnect-forever frequency="1000" />
		</anypoint-mq:subscriber>
		<set-variable value="#[attributes.ackToken]" doc:name="myAckToken" doc:id="7e0694dd-c17b-4f56-b563-2fe4f6a6dd65" variableName="myAckToken"/>
		<logger level="INFO" message="Received" doc:name="Received" />
		    <ee:transform doc:name="Convert to Our Event Format">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
               output application/json
               ---
               {
                 pnr: payload.pnr,
                 lastName: payload.lastNameOfPassenger
               }]]></ee:set-payload>
      </ee:message>
    </ee:transform>
		<anypoint-mq:ack doc:name="Ack" doc:id="40b1bae2-af55-4d35-8c64-3157b22c898c" config-ref="amqConfig" ackToken="#[vars.myAckToken]" />
		<vm:publish queueName="mobile-app-native-notifs-q" doc:name="mobile-app-native-notifs-q" doc:id="67e0048a-998b-4e00-bef9-69a905f1127f" config-ref="mobileAppNetworkVMConfig" timeout="300"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2880ec77-7d10-447f-98d7-461bac194bd1" >
				<anypoint-mq:nack doc:name="Nack" doc:id="99bbcf08-c7aa-41ab-9159-920355731852" config-ref="amqConfig" ackToken="#[vars.myAckToken]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>