CDEV-DEX670-EN-06jun2024-Student-Files/final/standalone-apps/flights-management-sapi/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  MuleSoft Training - Anypoint Platform Development: Level 2
  %%
  Copyright (C) 2019 - 2023 MuleSoft, Inc. All rights reserved. http://www.mulesoft.com
  %%
  The software in this package is published under the terms of the
  Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International Public License,
  a copy of which has been included with this distribution in the LICENSE.txt file.
  #L%
  -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="  http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd   http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd  http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd  http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd    http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd  http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd  http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd  http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd  http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
  <flow name="check-in-by-pnr">
    <logger level="INFO" message="#['Checking-in by PNR: ' ++ (vars.PNR default '')]" doc:name="START"/>
    <validation:is-not-blank-string value="#[vars.PNR]" message="PNR is missing" doc:name="PNR else raise EXT:BAD_REQUEST">
      <error-mapping targetType="EXT:BAD_REQUEST"/>
    </validation:is-not-blank-string>
    <validation:is-not-blank-string value="#[payload.lastName]" message="Last name is missing" doc:name="lastName else raise EXT:BAD_REQUEST">
      <error-mapping targetType="EXT:BAD_REQUEST"/>
    </validation:is-not-blank-string>
    <validation:is-number value="#[payload.numBags]" numberType="INTEGER" minValue="0" message="Num bags is not 0, 1, ..." doc:name="numBags else raise EXT:BAD_REQUEST">
      <error-mapping targetType="EXT:BAD_REQUEST"/>
    </validation:is-number>
    <ee:transform doc:name="To checkIn SOAP payload">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
          output application/xml
          ns ns0 http://flightsMgmt.sword.com/
          ---
          {
              ns0#checkIn: {
                  pnr: vars.PNR,
                  passengerLastName: payload.lastName,
                  numOfBags: payload.numBags
              }
          }]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" message="Before calling checkIn SOAP WS" doc:name="Before WS"/>
    <ee:transform doc:name="Build params var map for retry params">
      <ee:variables>
        <ee:set-variable variableName="params"><![CDATA[{
            invokeWebApiFlow:     "flights-wsc-check-in",
            maxRetries:           2,
            millisBetweenRetries: 500,
            namespace:            "WSC"
          }]]></ee:set-variable>
      </ee:variables>
    </ee:transform>
    <flow-ref name="invoke-web-api-until-successful" doc:name="invoke-web-api-until-successful"/>
    <validation:is-true expression="#[vars.successful]" message="Cannot check-in at the moment" doc:name="Successful else raise EXT:CANT_CHECKIN">
      <error-mapping targetType="EXT:CANT_CHECKIN"/>
    </validation:is-true>
    <logger level="INFO" message="After receiving checkIn SOAP WS response" doc:name="After WS"/>
    <!-- 
    but workaround: this incorrectly raises a MULE:EXPRESSION error if payload.body.checkInResponse.return cannot be cast to a Boolean:
    <validation:is-true expression="#[payload.body.checkInResponse.return as Boolean is Boolean]" doc:name="Check-in response is Boolean else INVALID_CHECKIN_RESPONSE">
        <error-mapping targetType="APP:INVALID_CHECKIN_RESPONSE"/>
    </validation:is-true>
    so do this instead until the above bug is fixed:
    -->
    <validation:is-true expression="#[not isBlank(payload.body.checkInResponse.return)]" doc:name="Check-in response is Boolean else INVALID_CHECKIN_RESPONSE">
      <error-mapping targetType="APP:INVALID_CHECKIN_RESPONSE"/>
    </validation:is-true>
    <set-payload value="#[output application/java --- payload.body.checkInResponse.return as Boolean]" doc:name="Check-in response"/>
    <validation:is-true expression="#[payload is Boolean]" doc:name="payload is Boolean"/>
    <logger level="INFO" message="Checked-in by PNR" doc:name="END"/>
  </flow>
  <sub-flow name="flights-wsc-check-in">
    <validation:is-not-null value="#[payload]" doc:name="payload"/>
    <wsc:consume operation="checkIn" config-ref="flightsWSCConfig" doc:name="CheckIn SOAP WS"/>
    <validation:is-not-null value="#[payload]" doc:name="payload"/>
  </sub-flow>
  <flow name="get-ticket-by-pnr">
    <logger level="INFO" message="Getting ticket by PNR" doc:name="START"/>
    <validation:is-not-blank-string value="#[vars.PNR]" message="PNR is missing" doc:name="PNR else raise EXT:BAD_REQUEST">
      <error-mapping targetType="EXT:BAD_REQUEST"/>
    </validation:is-not-blank-string>
    <ee:transform doc:name="To getTicketByPNR SOAP payload">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
          output application/xml
          ns ns0 http://flightsMgmt.sword.com/
          ---
          {
              ns0#getTicketByPNR: {
                  pnr: vars.PNR
              }
          }]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" message="Before calling getTicketByPNR SOAP WS" doc:name="Before WS"/>
    <ee:transform doc:name="Build params var map for retry params">
      <ee:variables>
        <ee:set-variable variableName="params"><![CDATA[{
            invokeWebApiFlow:     "flights-wsc-get-ticket-by-pnr",
            maxRetries:           2,
            millisBetweenRetries: 500,
            namespace:            "WSC"
          }]]></ee:set-variable>
      </ee:variables>
    </ee:transform>
    <flow-ref name="invoke-web-api-until-successful" doc:name="invoke-web-api-until-successful"/>
    <validation:is-true expression="#[vars.successful]" message="Cannot get ticket at the moment" doc:name="Successful else raise EXT:CANT_GET_TICKET">
      <error-mapping targetType="EXT:CANT_GET_TICKET"/>
    </validation:is-true>
    <logger level="INFO" message="After receiving getTicketByPNR SOAP WS response" doc:name="After WS"/>
    <validation:all doc:name="Valid ticket else raise INVALID_TICKET_RESPONSE">
      <error-mapping targetType="APP:INVALID_TICKET_RESPONSE"/>
      <validation:is-not-blank-string value="#[payload.body.getTicketByPNRResponse.return.flightDate]" doc:name="flightDate"/>
      <validation:is-not-blank-string value="#[payload.body.getTicketByPNRResponse.return.origin]" doc:name="origin"/>
    </validation:all>
    <ee:transform doc:name="To Ticket JSON response">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
          output application/json
          // hack to convert UTC times sent by FMS into local times in the origin TZ
          // this is not to be imitated!
          var TZLookup = {
            "SFO": "America/Los_Angeles",
            "LAX": "America/Los_Angeles",
            "ATL": "America/New_York",
            "VIE": "Europe/Vienna"
            // ...
          }
          var r = payload.body.getTicketByPNRResponse.return
          
          var flightDTdepart   = (r.flightDate ++ "T" ++ r.depart  ) as DateTime
          var flightDTboarding = (r.flightDate ++ "T" ++ r.boarding) as DateTime
          
          var flightDTdepartLocal   = flightDTdepart   >> TZLookup[r.origin]
          var flightDTboardingLocal = flightDTboarding >> TZLookup[r.origin]
          
          var dateLocal     = flightDTdepartLocal   as String {format: "YYYY-MM-dd"}
          var departLocal   = flightDTdepartLocal   as String {format: "hh:mm:ss"}
          var boardingLocal = flightDTboardingLocal as String {format: "hh:mm:ss"}
          ---
          {
            ticketHolderLastName:   r.ticketHolderLastName,
            ticketHolderPassPortNo: r.ticketHolderPassportNo,
            origin:                 r.origin,
            destination:            r.destination,
            flightDate:             dateLocal,
            flightNo:               r.flightNo,
            boarding:               boardingLocal,
            class:                  r.class,
            depart:                 departLocal,
            gate:                   r.gate,
            seat:                   r.seat
          }]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <validation:is-not-null value="#[payload]" doc:name="payload"/>
    <logger level="INFO" message="Got ticket by PNR" doc:name="END"/>
  </flow>
  <sub-flow name="flights-wsc-get-ticket-by-pnr">
    <validation:is-not-null value="#[payload]" doc:name="payload"/>
    <wsc:consume operation="getTicketByPNR" config-ref="flightsWSCConfig" doc:name="getTicketByPNR SOAP WS"/>
    <validation:is-not-null value="#[payload]" doc:name="payload"/>
  </sub-flow>
  <flow name="register-callback">
    <scheduler doc:name="Just once after startup">
      <scheduling-strategy>
        <fixed-frequency frequency="365000" timeUnit="DAYS"/>
      </scheduling-strategy>
    </scheduler>
    <logger level="INFO" message="Start" doc:name="Start"/>
    <ee:transform doc:name="To registerForCancellationNotifications SOAP payload">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
          output application/xml
          ns ns0 http://flightsMgmt.sword.com/
          ---
          {
              ns0#registerForCancellationNotifications: {
                  callbackURL: p("api.callback.url")
              }
          }]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" message="Before calling registerForCancellationNotifications SOAP WS" doc:name="Before WS"/>
    <ee:transform doc:name="Build params var map for retry params">
      <ee:variables>
        <ee:set-variable variableName="params"><![CDATA[{
            invokeWebApiFlow:     "register-for-cancellation-notifications",
            maxRetries:           2,
            millisBetweenRetries: 500,
            namespace:            "WSC"
          }]]></ee:set-variable>
      </ee:variables>
    </ee:transform>
    <flow-ref name="invoke-web-api-until-successful" doc:name="invoke-web-api-until-successful"/>
    <validation:is-true expression="#[vars.successful]" doc:name="Successful else raise EXT:CANT_REGISTER_CALLBACK">
      <error-mapping targetType="EXT:CANT_REGISTER_CALLBACK"/>
    </validation:is-true>
    <logger level="INFO" message="After receiving registerForCancellationNotifications SOAP WS response, End" doc:name="After WS, END"/>
  </flow>
  <sub-flow name="register-for-cancellation-notifications">
    <validation:is-not-null value="#[payload]" doc:name="payload"/>
    <wsc:consume operation="registerForCancellationNotifications" config-ref="flightsWSCConfig" doc:name="registerForCancellationNotifications"/>
    <validation:is-not-null value="#[payload]" doc:name="payload"/>
  </sub-flow>
  <flow name="receive-cancellation-notification">
    <http:listener path="${api.callback.path}" allowedMethods="POST" config-ref="apiHttpListenerConfig" doc:name="HTTP: Cancellation Notifs">
      <http:response statusCode="#[vars.httpStatus default 202]">
        <http:body>#[output text/plain --- vars.response default 'OK']</http:body>
      </http:response>
    </http:listener>
    <logger level="INFO" message="Start, Before message validation" doc:name="Start, Before message validation"/>
    <set-variable variableName="originalPayload" value="#[output text/plain --- payload.^raw]" doc:name="Orig payload"/>
    <validation:is-true expression="#[var ct = attributes.headers.'content-type' --- ((not isBlank(ct)) and (lower(ct) contains '/xml'))]" doc:name="XML content type"/>
    <xml-module:validate-schema schemas="schemas/CancellationNotification.xsd" config-ref="xmlConfig" doc:name="Cancellation Notification"/>
    <logger level="INFO" message="Before VM publish to ${vm.cancelNotif.q.name}" doc:name="Start, Before VM"/>
    <vm:publish queueName="${vm.cancelNotif.q.name}" sendCorrelationId="ALWAYS" timeout="${vm.timeoutMillis}" timeoutUnit="MILLISECONDS" config-ref="vmConfig" doc:name="To Cancellation Notif VM queue"/>
    <logger level="INFO" message="After VM publish to ${vm.cancelNotif.q.name}, End" doc:name="After VM, End"/>
    <error-handler>
      <on-error-continue when="#[['VALIDATION', 'XML-MODULE'] contains error.errorType.namespace]" enableNotifications="false" logException="false">
        <logger level="ERROR" message="#['Received invalid Cancellation Notification: ' ++ error.description]" doc:name="Invalid Cancellation Notification"/>
        <set-variable variableName="httpStatus" value="400"/>
        <set-variable variableName="response" value="#[output text/plain --- vars.originalPayload]"/>
      </on-error-continue>
    </error-handler>
  </flow>
  <flow name="deliver-flight-cancelled-event">
    <vm:listener queueName="${vm.cancelNotif.q.name}" transactionalAction="ALWAYS_BEGIN" config-ref="vmConfig" doc:name="VM: Cancellation Notifs">
      <redelivery-policy maxRedeliveryCount="${vm.maxRedeliveryCount}" idExpression="#[correlationId]"/>
      <reconnect-forever frequency="${vm.reconnectIntervalMillis}"/>
    </vm:listener>
    <try transactionalAction="BEGIN_OR_JOIN">
      <logger level="INFO" message="Start, Received from VM queue ${vm.cancelNotif.q.name}, Before transform to Flight Cancelled Event" doc:name="Start, received, before transform"/>
      <set-variable variableName="originalPayload" value="#[payload]" doc:name="Orig payload"/>
      <ee:transform doc:name="To Flight Cancelled Event">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
            output application/json
            ---
            {
              pnr:                 payload.CancellationNotification.PNR,
              lastNameOfPassenger: payload.CancellationNotification.PassengerLastName
            }]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      <logger level="DEBUG" message="Before JSON Schema validation" doc:name="Before schema validation"/>
      <json:validate-schema schema="schemas/FlightCancelledEvent.schema.json" allowDuplicateKeys="false" doc:name="Flight Cancelled Event"/>
      <set-variable variableName="msgValid" value="#[true]" doc:name="msgValid"/>
      <error-handler>
        <on-error-continue enableNotifications="false" logException="false">
          <set-variable variableName="msgValid" value="#[false]" doc:name="msgValid"/>
          <logger level="ERROR" message="Can't create valid Flight Cancelled Event - giving up - sending to ${vm.cancelNotif.dlq.name}" doc:name="Can't create Flight Cancelled Event"/>
          <set-payload value="#[vars.originalPayload]" doc:name="Orig payload"/>
          <flow-ref name="send-to-vm-dlq" doc:name="send-to-vm-dlq"/>
        </on-error-continue>
      </error-handler>
    </try>
    <choice>
      <when expression="#[vars.msgValid]">
        <logger level="INFO" message="Before publishing Flight Cancelled Event to Anypoint MQ Exchange" doc:name="Before publish to Anypoint MQ"/>
        <anypoint-mq:publish destination="${anypoint.mq.exchange}" messageId="#[correlationId]" config-ref="amqConfig" doc:name="To Anypoint MQ">
          <anypoint-mq:properties><![CDATA[#[output application/java
            ---
            {
              "correlationId" : correlationId
            }]]]></anypoint-mq:properties>
        </anypoint-mq:publish>
        <logger level="INFO" message="Finished publishing Flight Cancelled Event to Anypoint MQ Exchange, End" doc:name="After publish to Anypoint MQ, End"/>
      </when>
    </choice>
    <error-handler>
      <on-error-propagate when="#[error.errorType.namespace == 'ANYPOINT-MQ']" enableNotifications="false" logException="false">
        <logger level="ERROR" message="Can't deliver Flight Cancelled Event - retrying" doc:name="Can't deliver"/>
      </on-error-propagate>
      <on-error-continue type="REDELIVERY_EXHAUSTED" enableNotifications="false" logException="false">
        <logger level="ERROR" message="Can't deliver Flight Cancelled Event - giving up - sending to ${vm.cancelNotif.dlq.name}" doc:name="Can't deliver"/>
        <flow-ref name="send-to-vm-dlq" doc:name="send-to-vm-dlq"/>
      </on-error-continue>
    </error-handler>
  </flow>
  <sub-flow name="send-to-vm-dlq">
    <validation:is-not-null value="#[payload]" doc:name="payload"/>
    <vm:publish queueName="${vm.cancelNotif.dlq.name}" timeout="${vm.timeoutMillis}" timeoutUnit="MILLISECONDS" config-ref="vmConfig" doc:name="VM: DLQ"/>
  </sub-flow>
  <flow name="handle-dlq">
    <vm:listener queueName="${vm.cancelNotif.dlq.name}" config-ref="vmConfig" doc:name="VM: DLQ">
      <redelivery-policy maxRedeliveryCount="${vm.maxRedeliveryCount}" idExpression="#[correlationId]"/>
      <reconnect-forever frequency="${vm.reconnectIntervalMillis}"/>
    </vm:listener>
    <logger level="INFO" message="Processing message from DLQ" doc:name="Processing"/>
  </flow>
</mule>
