CDEV-DEX670-EN-06jun2024-Student-Files/walkthroughs/devint/module06/wt6-1_solution/apps-commons/src/main/mule/health-common.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  MuleSoft Training - Anypoint Platform Development: Level 2
  %%
  Copyright (C) 2019 - 2021 MuleSoft, Inc. All rights reserved. http://www.mulesoft.com
  %%
  The software in this package is published under the terms of the
  Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International Public License,
  a copy of which has been included with this distribution in the LICENSE.txt file.
  #L%
  -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="  http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
  <!--
  The including Mule app MUST:
  - include <import file="health-common.xml" doc:name="Import health-common.xml" />
  - define <sub-flow name="check-all-dependencies-are-alive" />
  - define <http:listener-config name="apiHttpListenerConfig" />
  
  The including Mule app MAY optionally:
  - override property deps.alive.timeoutMillis (default 1000)
  -->
  <flow name="api-alive">
    <http:listener config-ref="apiHttpListenerConfig" path="alive">
      <http:response statusCode="200"/>
      <http:error-response statusCode="500">
        <http:body>DOWN</http:body>
      </http:error-response>
    </http:listener>
    <set-payload value="UP" doc:name="UP"/>
  </flow>
  <flow name="api-ready">
    <http:listener config-ref="apiHttpListenerConfig" path="ready">
      <http:response statusCode="200"/>
      <http:error-response statusCode="500">
        <http:body>DOWN</http:body>
      </http:error-response>
    </http:listener>
    <flow-ref name="check-all-dependencies-are-alive" doc:name="check-all-dependencies-are-alive"/>
    <set-payload value="UP" doc:name="UP"/>
  </flow>
  <flow name="check-dependency-is-alive">
    <ee:transform doc:name="Build params var map for retry params">
      <ee:variables>
        <ee:set-variable variableName="params"><![CDATA[{
        invokeWebApiFlow:     "check-liveness-endpoint",
        maxRetries:           3,
        millisBetweenRetries: 1000,
        namespace:            "HTTP"
      }]]></ee:set-variable>
      </ee:variables>
    </ee:transform>
    <flow-ref name="invoke-web-api-until-successful"/>
    <validation:is-true expression="#[vars.successful]" message="Error getting ticket data" doc:name="Successful else raise EXT:CANT_RETRIEVE_TICKET_DATA">
      <error-mapping targetType="APP:DEPENDENCY_NOT_ALIVE"/>
    </validation:is-true>
    <error-handler>
      <on-error-propagate enableNotifications="false" logException="false">
        <logger/>
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="check-liveness-endpoint">
    <http:request method="GET" url="#[vars.livenessEndpoint]" followRedirects="true" responseTimeout="#[(p('deps.alive.timeoutMillis') default 1000)]" doc:name="HTTP GET to dependency">
      <http:response-validator>
        <http:success-status-code-validator values="200..299"/>
      </http:response-validator>
    </http:request>
  </flow>
</mule>
